body {
	background: url('../images/wallpaper.jpg') no-repeat center center fixed;
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
}

.bodycontainer {
    background: linear-gradient(to bottom right, rgba(135, 181, 205, .75), rgba(185, 214, 230, 0.75));
	border: .1px solid;
	border-radius: 15px 15px 15px 15px;
	margin: 0 auto;
	width: 85%;
	height: 800px;
	margin-top: 1%;
}

.titlebox {
    color: #783A28;
    background: linear-gradient(to bottom right, rgba(185, 214, 230, 0.75), rgba(135, 181, 205, .75));
	border: 0px solid red;
	border-radius: 15px 15px 15px 15px;
	margin: 0 auto;
	width: 97.5%;
	height: 20%;
	margin-top: 1%;
	padding: .75%;
	
}

.titlefont {
	font-weight: bold;
}

